.idea
__pycache__
outs
data
**.npy
**.pt


# ---- chamfer_dist extension build artifacts ----
extensions/chamfer_dist/build/
extensions/chamfer_dist/dist/
extensions/chamfer_dist/*.egg-info/
extensions/chamfer_dist/**/*.egg-info/
extensions/chamfer_dist/**/*.o
extensions/chamfer_dist/**/*.obj
extensions/chamfer_dist/**/*.so
extensions/chamfer_dist/**/*.pyd
extensions/chamfer_dist/**/*.dll
extensions/chamfer_dist/**/*.dylib
extensions/chamfer_dist/**/*.a
extensions/chamfer_dist/**/*.lib
extensions/chamfer_dist/**/*.exp
extensions/chamfer_dist/**/*.ilk
extensions/chamfer_dist/**/*.pdb
extensions/chamfer_dist/**/__pycache__/
extensions/chamfer_dist/.pytest_cache/
extensions/chamfer_dist/.mypy_cache/
extensions/chamfer_dist/.ninja_*
extensions/chamfer_dist/**/*.ninja
extensions/chamfer_dist/**/*.ninja_deps
extensions/chamfer_dist/**/*.ninja_log
